<h1>THIS IS A HOME PAGE</h1>

<%= image_tag('https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80', :alt=>'image-photo') %>

<%= link_to 'View more at...', pages_about_path %>